.idea/tasks.xml
.tox/
.idea/libraries
.AppleDouble
fabric.properties
pip-log.txt
profile_default/
venv.bak/
.webassets-cache
.idea/dataSources.ids
*.so
.mypy_cache/
eggs/
.idea/dataSources.local.xml
__pypackages__/
Network Trash Folder
var/
.vscode
dist/
.idea/jsLibraryMappings.xml
MANIFEST
crashlytics.properties
.LSOverride
*$py.class
coverage.xml
.idea/workspace.xml
docs/_build/
*.log
htmlcov/
sdist/
[Ll]ib64
.idea/dictionaries
[Ll]ib
.AppleDB
/out/
.ipynb_checkpoints
nosetests.xml
.idea/gradle.xml
.nox/
*.pot
[Ss]cripts
.apdisk
cover/
.AppleDesktop
.venv/
.hypothesis/
.dmypy.json
.DS_Store
__pycache__/
.Python
.pytype/
.idea/dataSources.xml
db.sqlite3
.cache
celerybeat-schedule
com_crashlytics_export_strings.xml
local_settings.py
pyvenv.cfg
.ropeproject
*.cover
.idea/uiDesigner.xml
db.sqlite3-journal
.coverage
[Bb]in
*.egg
*.pyo
.idea/dynamic.xml
.Spotlight-V100
[Ll]ocal
*.spec
env*
._*
dmypy.json
.idea/vcs.xml
Icon
env/
*.iws
venv/
.idea/
*.sage.py
downloads/
.idea_modules/
.spyproject
*.mo
*.manifest
.python-version
lib/
*.egg-info/
.pytest_cache/
cython_debug/
instance/
.pyre/
target/
*.pyc
develop-eggs/
[Ii]nclude
*,cover
ENV/
pip-delete-this-directory.txt
ipython_config.py
*.py[cod]
.pybuilder/
 Created by https://www.gitignore.io
wheels/
.eggs/
.env
celerybeat.pid
parts/
.spyderproject
/site
lib64/
.installed.cfg
crashlytics-build.properties
Temporary Items
.scrapy
.flaskenv
_mailinglist
.coverage.*
build/
atlassian-ide-plugin.xml
share/python-wheels/
.idea/mongoSettings.xml
env.bak/
.Trashes
pip-selfcheck.json
.idea/sqlDataSources.xml
.cache/
*.py,cover
.venv
/myproject/apps/collet/migration/
/myproject/apps/users/migrations/
/myproject/apps/collect/migrations/
/myproject/apps/survey/migrations/
